body {
	background-color: #c5c285;
	background-image: url("images/logo3.png");
}
.center {
	text-align: center;
}
.background {
	background-color: #c5c285;
}
.button {
	border: none;
	color: black;
	background-color: #c5c285;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	align: center;
	display: inline-block;
	font-size: 16px;
	margin: 2px 4px;
	cursor: pointer;
}
h1 {
    text-align: center;
}
 .pickle {
		position: absolute;
		margin: 0 auto;
                width: 175px; 
                height: 485px; 
                padding: 10px;
		left: 900px;
		top: 250px; 
		align-items: center;
		background-image: url("images/pickle.png");
		background-color: #c5c285;
 }
.clothes {
		position: absolute;
		margin: 0 auto;
            width: 50%; 
            height: 700px; 
            padding: 10px;
		top: 800px;
		left: 550px; 
            border: 1px solid black; 
            <!-background-color: #F5F5F5;--> 
 }
.hat {
		position: absolute;
		margin: 0 auto;
                width: 200px; 
                height: 100px; 
                padding: 1px;
		left: 925px;
		top: 250px;
                border: 1px solid blue;
	        
 }
.eyewear {
		position: absolute;
		margin: 0 auto;
                width: 200px; 
                height: 75px; 
                padding: 0px;
		left: 930px;
		top: 375px;
                align-items: center;
                border: 1px solid blue; 
                
 }
.shirt {
		position: absolute;
		margin: 0 auto;
                width: 250px; 
                height: 150px; 
                padding: 10px;
		left: 860px;
		top: 450px; 
		align-items: center;
		border: 1px solid blue;
 }
.pants {
		position: absolute;
		margin: 0 auto;
                width: 9%; 
                height: 485px; 
                padding: 10px;
		left: 900px;
		top: 250px; 
		align-items: center;
 }

  p { 
     font-size:20px; 
    font-weight:bold; 
    }
 img.centered {
		display: block;
		margin-left: auto;
		margin-right: auto 
}
.button {
		border: none;
		color: black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		align: center;
		display: inline-block;
		font-size: 16px;
		margin: 2px 4px;
		cursor: pointer;
	   }

